body {
    background-color: #333333;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 90px;
    padding: 26px;
}

header {
    background-color:#ffa500;
    color: #000000;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-top: 0;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
}

button[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
